**.o
**.lo
**~

Makefile
autom4te.cache/
config.h
config.log
config.status
doc/Makefile
doc/doxygen.conf
examples/.deps/
examples/.libs/
examples/Makefile
examples/testd
libdaemon/.deps/
libdaemon/.libs/
libdaemon/Makefile
libdaemon/libdaemon.la
libtool
pkgconfig/libdaemon-uninstalled.pc
pkgconfig/libdaemon.pc
stamp-h1
